# Machine Learning Lab 1
## Eric Johnson & Quincy Schurr

### Overview

The dataset that we will be using for this lab is called Lahman's Baseball Database. The data is comprised of 24 tables that describe a variety of baseball statistics for players from 1871 through the 2015 season. The four main dataset tables are the Master, Batting, Pitching, and Fielding tables. For the analysis we will be using the Master and Batting tables

The Master table contains all the demographic data for a player, including their name, playerID, date of birth, hometown, height, and weight. This table originally had 24 features and 19049 rows, for all players in baseball. The requirements for this project say at least 30,000 records, but once the data has been cleaned up and merged it with some of the other tables that we want to draw data from, there will be many more records for each player.

The other three main tables include playing statistics for the player for each year that they played including their team. We cleaned up the data a bit by dropping columns that we did not want to analyze as they were not a statistic that all players had, or were unecessary for the study.

The purpose of this data set is for fun and for learning. The dataset is made available so that baseball fans can analyze player performance and so that baseball statisticians can view player performance and look for correlations in the player statistics. This is helpful for baseball teams looking to use their budget to acquire the best players available at the cheapest cost.

There are a lot of different statistics that we could analyze with this dataset that would draw some interesting conclusions. We would like to analyze the most common hometown in each country represented by players. We would also like to look at how many trades have occured during each season, maybe even by each team to see trends over time. The correlation between batting average and home runs hit would be an interesting statistic as well. The last category we would like to analyze is the average time a player stays in the major league.

### Data Understanding

The following section looks to describe each statistic shown in the merged data set.

###### playerID 
The player ID is representative of all player statistics. It is defined in the Master table and it is what is used to link most of the other tables together. It is unique to each player.
###### birthYear, birthMonth, and birthDay
These features represent the year, month, and day that the player was born. They are all integers and the data is ordinal.
###### birthCountry, birthState, birthCity
These features represent the hometown of each player. They provide the city, state, and country each player was born in. These strings are represented with objects in the data frame.
##### nameFirst, nameLast
Objects representing the name of the player.
##### weight, height
Floats that represent the height and weight of the player for the season.
##### bats, throws
Object feature representing with which hand the player bats and throws.
##### debut, finalGame
The date of each player's Major League Baseball debut and final game.
##### yearID
Integer value representing the season for which the statistics are for.
##### teamID
Object that represents which team the player played for and which team their statistics apply to.
##### lgID
Represents the league in which the team the player played for was a part of. Either the National League represented by NL or American League represented by AL.
##### G, AB, R, H, 2B, 3B, HR, RBI, BB, SO
These features are all represented with integers. They represent the number of games played in a season, the number of at bat opportunities, the number of runs scores, number of hits, number of doubles, number of triples, number of home runs, number of runs batted in, number of walks, and number of strikeouts throughout the season.

In [3]:
import numpy as mp
import pandas as pd
import seaborn as sns

import matplotlib.pyplot as plt
import warnings
warnings.simplefilter('ignore', DeprecationWarning)
%matplotlib inline

In [4]:
master = pd.read_csv('https://raw.githubusercontent.com/chadwickbureau/baseballdatabank/master/core/Master.csv')
master.drop(['nameGiven', 'retroID', 'bbrefID', 'deathYear', 'deathMonth', 'deathDay', 'deathCountry', 'deathState', 'deathCity'], axis = 1, inplace=True)

In [5]:
batting = pd.read_csv('https://raw.githubusercontent.com/chadwickbureau/baseballdatabank/master/core/Batting.csv')
batting.drop(['CS', 'IBB', 'HBP', 'SH', 'SF', 'GIDP', 'stint', 'SB'], axis=1, inplace=True)

The reasoning behind dropping all values that had a null value/missing value were that many of the statistics should not be influenced by an overwhelming number of records with mean values. The statistics in this data set highlight individual player performance and so filling in missing values with the mean would not be representative of the performance of the player that year. It was better to remove the whole record.

In [6]:
#merge player demographics with batting statistics
baseballdata = master.merge(batting)
#just to clean up the data a bit, still have 83822 records. 
baseballdata.dropna(inplace=True)
#convert to int b/c birth date shouldnt be float. Also converting Runs, etc b/c all whole numbers
floatList = ['birthYear', 'birthMonth', 'birthDay', 'R', 'AB', 'H', '2B', '3B', 'HR', 'RBI', 'BB', 'SO']
for x in floatList:
    baseballdata[x] = baseballdata[x].astype(int)
baseballdata.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 83822 entries, 0 to 101331
Data columns (total 28 columns):
playerID        83822 non-null object
birthYear       83822 non-null int64
birthMonth      83822 non-null int64
birthDay        83822 non-null int64
birthCountry    83822 non-null object
birthState      83822 non-null object
birthCity       83822 non-null object
nameFirst       83822 non-null object
nameLast        83822 non-null object
weight          83822 non-null float64
height          83822 non-null float64
bats            83822 non-null object
throws          83822 non-null object
debut           83822 non-null object
finalGame       83822 non-null object
yearID          83822 non-null int64
teamID          83822 non-null object
lgID            83822 non-null object
G               83822 non-null int64
AB              83822 non-null int64
R               83822 non-null int64
H               83822 non-null int64
2B              83822 non-null int64
3B              83822 non-null int64
HR              83822 non-null int64
RBI             83822 non-null int64
BB              83822 non-null int64
SO              83822 non-null int64
dtypes: float64(2), int64(14), object(12)
memory usage: 18.5+ MB

In [24]:
#see where players are from. By Country
b_grouped = baseballdata.groupby(by='birthCountry')
print(b_grouped.birthCountry.count())
#ax = sns.barplot(x = 'birthCountry', y = 'count', data=b_grouped)

birthCountry
Australia           136
Bahamas              23
Belgium               5
Brazil                8
CAN                 862
Colombia             87
Cuba                777
Czech Republic        1
D.R.               3582
Germany              22
Greece                1
Honduras              8
Ireland              19
Italy                 1
Jamaica              50
Japan               263
Mexico              671
Nicaragua            70
Panama              355
Poland               23
Saudi Arabia          3
South Korea          87
USA               74779
United Kingdom      110
V.I.                 89
Venezuela          1790
Name: birthCountry, dtype: int64
                               2B           3B           AB           BB  \
birthCountry
Australia      count   136.000000   136.000000   136.000000   136.000000
               mean      2.919118     0.529412    71.889706     5.213235
               std       6.377106     1.596019   142.590046    12.211354
               min       0.000000     0.000000     0.000000     0.000000
               25%       0.000000     0.000000     0.000000     0.000000
               50%       0.000000     0.000000     2.000000     0.000000
               75%       1.000000     0.000000    63.250000     2.000000
               max      33.000000    10.000000   554.000000    65.000000
Bahamas        count    23.000000    23.000000    23.000000    23.000000
               mean      6.043478     1.347826   135.956522    14.565217
               std       6.865449     2.058435   154.982544    18.212948
               min       0.000000     0.000000     4.000000     0.000000
               25%       0.500000     0.000000    27.500000     1.500000
               50%       3.000000     0.000000    65.000000     8.000000
               75%      12.000000     2.000000   215.500000    21.000000
               max      20.000000     8.000000   516.000000    65.000000
Belgium        count     5.000000     5.000000     5.000000     5.000000
               mean      2.000000     0.400000    52.600000     3.800000
               std       1.414214     0.547723    53.780108     3.563706
               min       1.000000     0.000000     5.000000     0.000000
               25%       1.000000     0.000000     7.000000     1.000000
               50%       1.000000     0.000000    38.000000     4.000000
               75%       3.000000     1.000000    82.000000     5.000000
               max       4.000000     1.000000   131.000000     9.000000
Brazil         count     8.000000     8.000000     8.000000     8.000000
               mean     10.375000     1.375000   185.250000     8.250000
               std      10.582162     2.199838   187.461044     9.145647
               min       0.000000     0.000000     0.000000     0.000000
               25%       0.000000     0.000000     1.500000     0.000000
               50%       9.000000     0.000000   169.500000     5.500000
...                           ...          ...          ...          ...
USA            std       9.921366     2.621074   186.666593    21.781616
               min       0.000000     0.000000     0.000000     0.000000
               25%       0.000000     0.000000     7.000000     0.000000
               50%       1.000000     0.000000    55.000000     3.000000
               75%      10.000000     1.000000   247.000000    21.000000
               max      67.000000    36.000000   716.000000   232.000000
United Kingdom count   110.000000   110.000000   110.000000   110.000000
               mean      6.563636     2.545455   179.172727    15.354545
               std       8.580463     3.859069   202.781885    22.730001
               min       0.000000     0.000000     0.000000     0.000000
               25%       0.000000     0.000000     9.250000     0.000000
               50%       2.000000     0.000000    74.500000     2.000000
               75%      10.000000     4.000000   335.250000    30.000000
               max      35.000000    21.000000   660.000000    86.000000
V.I.           count    89.000000    89.000000    89.000000    89.000000
               mean      6.269663     1.022472   163.539326    15.269663
               std       7.652635     1.744977   186.558549    18.669837
               min       0.000000     0.000000     0.000000     0.000000
               25%       1.000000     0.000000    24.000000     1.000000
               50%       3.000000     0.000000    86.000000     7.000000
               75%       9.000000     1.000000   241.000000    23.000000
               max      31.000000     8.000000   686.000000    72.000000
Venezuela      count  1790.000000  1790.000000  1790.000000  1790.000000
               mean      8.173743     0.988827   168.488268    13.183799
               std      10.946768     1.859482   199.949789    19.144862
               min       0.000000     0.000000     0.000000     0.000000
               25%       0.000000     0.000000     4.000000     0.000000
               50%       2.000000     0.000000    65.000000     4.000000
               75%      14.000000     1.000000   312.750000    20.750000
               max      54.000000    13.000000   670.000000   127.000000

                                G            H           HR            R  \
birthCountry
Australia      count   136.000000   136.000000   136.000000   136.000000
               mean     38.102941    18.786765     1.235294     9.345588
               std      38.086700    38.711546     3.511326    19.804369
               min       1.000000     0.000000     0.000000     0.000000
               25%       7.000000     0.000000     0.000000     0.000000
               50%      24.000000     0.000000     0.000000     0.000000
               75%      58.750000    15.500000     0.000000     5.250000
               max     156.000000   169.000000    21.000000    87.000000
Bahamas        count    23.000000    23.000000    23.000000    23.000000
               mean     53.913043    33.782609     2.391304    15.260870
               std      43.832235    39.097729     3.026236    15.728426
               min       4.000000     2.000000     0.000000     0.000000
               25%      16.500000     6.000000     0.000000     3.500000
               50%      47.000000    14.000000     2.000000     8.000000
               75%      74.000000    55.000000     4.000000    24.000000
               max     150.000000   128.000000    12.000000    51.000000
Belgium        count     5.000000     5.000000     5.000000     5.000000
               mean     21.600000    11.800000     1.800000     6.200000
               std      16.652327    12.316655     2.489980     7.463243
               min       5.000000     1.000000     0.000000     0.000000
               25%       7.000000     4.000000     0.000000     1.000000
               50%      24.000000     5.000000     0.000000     2.000000
               75%      26.000000    19.000000     4.000000    11.000000
               max      46.000000    30.000000     5.000000    17.000000
Brazil         count     8.000000     8.000000     8.000000     8.000000
               mean     61.250000    48.125000     6.875000    23.000000
               std      46.110891    50.918527     7.491662    23.904572
               min      10.000000     0.000000     0.000000     0.000000
               25%      17.750000     0.000000     0.000000     0.000000
               50%      64.500000    40.000000     5.500000    20.000000
...                           ...          ...          ...          ...
USA            std      47.741698    53.418638     6.585805    28.701948
               min       0.000000     0.000000     0.000000     0.000000
               25%      14.000000     1.000000     0.000000     0.000000
               50%      36.000000    10.000000     0.000000     5.000000
               75%      86.000000    62.000000     3.000000    29.000000
               max     165.000000   257.000000    73.000000   192.000000
United Kingdom count   110.000000   110.000000   110.000000   110.000000
               mean     53.054545    45.636364     2.972727    27.763636
               std      50.108842    55.464300     6.953923    37.221363
               min       1.000000     0.000000     0.000000     0.000000
               25%      10.500000     1.000000     0.000000     0.000000
               50%      35.500000    17.000000     0.000000     7.500000
               75%      83.000000    87.750000     2.000000    53.750000
               max     156.000000   198.000000    32.000000   177.000000
V.I.           count    89.000000    89.000000    89.000000    89.000000
               mean     60.786517    41.898876     2.258427    19.393258
               std      47.102517    50.322154     2.963904    23.827323
               min       1.000000     0.000000     0.000000     0.000000
               25%      22.000000     6.000000     0.000000     2.000000
               50%      51.000000    17.000000     1.000000     9.000000
               75%      96.000000    65.000000     3.000000    28.000000
               max     159.000000   183.000000    16.000000    92.000000
Venezuela      count  1790.000000  1790.000000  1790.000000  1790.000000
               mean     59.260894    44.710056     3.603352    20.922346
               std      50.324143    56.276659     6.666971    28.000461
               min       1.000000     0.000000     0.000000     0.000000
               25%      16.000000     0.000000     0.000000     0.000000
               50%      42.000000    15.000000     0.000000     6.000000
               75%      99.000000    78.000000     4.000000    35.000000
               max     164.000000   225.000000    47.000000   123.000000

                              RBI           SO     birthDay   birthMonth  \
birthCountry
Australia      count   136.000000   136.000000   136.000000   136.000000
               mean      9.198529     8.558824    14.580882     7.375000
               std      20.681650    16.499502    10.337673     4.308368
               min       0.000000     0.000000     1.000000     1.000000
               25%       0.000000     0.000000     6.000000     2.000000
               50%       0.000000     0.500000    10.500000     8.000000
               75%       4.000000     7.250000    25.000000    12.000000
               max      84.000000    88.000000    30.000000    12.000000
Bahamas        count    23.000000    23.000000    23.000000    23.000000
               mean     13.347826    28.434783     6.956522    10.652174
               std      14.726626    29.661463     7.795560     2.058435
               min       0.000000     0.000000     2.000000     7.000000
               25%       2.500000     7.500000     2.000000    10.000000
               50%       5.000000    19.000000     4.000000    12.000000
               75%      23.500000    47.000000     8.000000    12.000000
               max      46.000000    93.000000    25.000000    12.000000
Belgium        count     5.000000     5.000000     5.000000     5.000000
               mean      7.600000    13.000000     5.000000     3.000000
               std       7.700649    12.020815     0.000000     0.000000
               min       1.000000     0.000000     5.000000     3.000000
               25%       2.000000     3.000000     5.000000     3.000000
               50%       3.000000    15.000000     5.000000     3.000000
               75%      16.000000    17.000000     5.000000     3.000000
               max      16.000000    30.000000     5.000000     3.000000
Brazil         count     8.000000     8.000000     8.000000     8.000000
               mean     24.625000    47.000000    11.500000     7.500000
               std      26.704400    47.608523     8.124038     1.414214
               min       0.000000     0.000000     1.000000     7.000000
               25%       0.000000     0.000000     5.000000     7.000000
               50%      20.000000    42.500000    12.000000     7.000000
...                           ...          ...          ...          ...
USA            std      27.082957    27.990062     8.698772     3.442477
               min       0.000000     0.000000     1.000000     1.000000
               25%       0.000000     2.000000     8.000000     4.000000
               50%       4.000000    11.000000    16.000000     7.000000
               75%      27.000000    30.000000    23.000000    10.000000
               max     191.000000   223.000000    31.000000    12.000000
United Kingdom count   110.000000   110.000000   110.000000   110.000000
               mean     20.081818    22.600000    15.900000     8.627273
               std      27.775685    25.317144     8.797362     2.982700
               min       0.000000     0.000000     1.000000     1.000000
               25%       0.000000     3.000000     7.250000     7.000000
               50%       6.000000    13.000000    21.000000     9.000000
               75%      28.750000    34.250000    23.750000    11.000000
               max     109.000000    96.000000    29.000000    12.000000
V.I.           count    89.000000    89.000000    89.000000    89.000000
               mean     15.617978    20.337079    17.101124     8.303371
               std      16.438940    19.172627     8.428907     3.832885
               min       0.000000     0.000000     2.000000     2.000000
               25%       3.000000     5.000000    13.000000     5.000000
               50%       8.000000    13.000000    15.000000    10.000000
               75%      28.000000    30.000000    22.000000    12.000000
               max      76.000000    92.000000    30.000000    12.000000
Venezuela      count  1790.000000  1790.000000  1790.000000  1790.000000
               mean     19.388268    26.766480    15.727933     5.822905
               std      27.011324    32.479932     9.164557     3.449942
               min       0.000000     0.000000     1.000000     1.000000
               25%       0.000000     1.000000     7.000000     3.000000
               50%       6.000000    13.000000    16.000000     5.000000
               75%      32.000000    43.000000    24.000000     8.000000
               max     150.000000   169.000000    31.000000    12.000000

                        birthYear       height       weight       yearID
birthCountry
Australia      count   136.000000   136.000000   136.000000   136.000000
               mean   1966.308824    73.448529   198.948529  1994.389706
               std      32.676306     3.025374    23.619615    32.884798
               min    1864.000000    67.000000   158.000000  1885.000000
               25%    1969.000000    72.000000   185.000000  1997.000000
               50%    1977.000000    74.000000   200.000000  2003.500000
               75%    1982.000000    75.000000   210.000000  2010.000000
               max    1989.000000    80.000000   250.000000  2015.000000
Bahamas        count    23.000000    23.000000    23.000000    23.000000
               mean   1943.217391    72.869565   185.217391  1970.652174
               std      14.346227     2.510059    18.369828    14.971514
               min    1934.000000    68.000000   160.000000  1957.000000
               25%    1934.000000    71.000000   165.000000  1961.000000
               50%    1937.000000    75.000000   200.000000  1966.000000
               75%    1948.000000    75.000000   200.000000  1974.500000
               max    1983.000000    76.000000   210.000000  2014.000000
Belgium        count     5.000000     5.000000     5.000000     5.000000
               mean   1971.000000    77.000000   205.000000  1998.600000
               std       0.000000     0.000000     0.000000     2.408319
               min    1971.000000    77.000000   205.000000  1996.000000
               25%    1971.000000    77.000000   205.000000  1997.000000
               50%    1971.000000    77.000000   205.000000  1998.000000
               75%    1971.000000    77.000000   205.000000  2000.000000
               max    1971.000000    77.000000   205.000000  2002.000000
Brazil         count     8.000000     8.000000     8.000000     8.000000
               mean   1987.125000    74.000000   206.875000  2013.875000
               std       0.991031     0.000000     9.977654     1.125992
               min    1985.000000    74.000000   195.000000  2012.000000
               25%    1987.000000    74.000000   195.000000  2013.000000
               50%    1987.000000    74.000000   212.500000  2014.000000
...                           ...          ...          ...          ...
USA            std      33.888939     2.451529    20.202989    34.100418
               min    1836.000000    43.000000    65.000000  1876.000000
               25%    1911.000000    71.000000   175.000000  1940.000000
               50%    1943.000000    73.000000   185.000000  1970.000000
               75%    1967.000000    74.000000   200.000000  1997.000000
               max    1994.000000    83.000000   320.000000  2015.000000
United Kingdom count   110.000000   110.000000   110.000000   110.000000
               mean   1902.436364    71.481818   184.800000  1932.354545
               std      43.190325     3.444799    26.458137    42.968003
               min    1849.000000    64.000000   142.000000  1876.000000
               25%    1860.000000    70.000000   168.000000  1891.250000
               50%    1888.000000    73.000000   180.000000  1920.500000
               75%    1945.750000    74.000000   196.500000  1968.750000
               max    1990.000000    80.000000   240.000000  2015.000000
V.I.           count    89.000000    89.000000    89.000000    89.000000
               mean   1948.438202    71.202247   174.471910  1977.752809
               std      13.765863     1.415657    14.911169    12.725494
               min    1935.000000    69.000000   140.000000  1959.000000
               25%    1940.000000    70.000000   175.000000  1968.000000
               50%    1940.000000    71.000000   175.000000  1975.000000
               75%    1966.000000    73.000000   187.000000  1987.000000
               max    1992.000000    73.000000   195.000000  2015.000000
Venezuela      count  1790.000000  1790.000000  1790.000000  1790.000000
               mean   1974.327933    72.077654   199.542458  2001.916760
               std      14.209691     2.153709    28.173426    13.392860
               min    1912.000000    63.000000   140.000000  1939.000000
               25%    1971.000000    71.000000   180.000000  1998.000000
               50%    1978.000000    72.000000   200.000000  2006.000000
               75%    1984.000000    73.000000   220.000000  2011.000000
               max    1994.000000    79.000000   280.000000  2015.000000

[208 rows x 16 columns]

In [22]:
statePlayers = baseballdata.where(baseballdata.birthCountry == 'USA')
state_group = statePlayers.groupby(by='birthState')
print(state_group.birthState.count())

birthState
AK       69
AL     1858
AR      828
AZ      536
CA    11988
CO      395
CT      817
DC      334
DE      215
FL     2686
GA     1824
HI      218
IA      964
ID      167
IL     4590
IN     1577
KS      953
KY     1180
LA     1314
MA     2158
MD     1087
ME      186
MI     2052
MN      701
MO     2529
MS     1040
MT       93
NC     2134
ND       78
NE      607
NH      205
NJ     1827
NM      126
NV      159
NY     4604
OH     4146
OK     1393
OR      711
PA     4841
RI      329
SC     1026
SD      183
TN     1392
TX     4478
UT      175
VA     1295
VT      141
WA      979
WI      949
WV      549
WY       93
Name: birthState, dtype: int64